<header id="portfolio">
  <div class="w3-container">
  <h1><b>Napi Menü</b></h1>
  <div class="w3-section w3-bottombar w3-padding-16">
    <span class="w3-margin-right">Filter:</span> 
    <button class="w3-button w3-black">ALL</button>
    <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Menza</button>
    <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Vega</button>
  </div>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>

